@import "tailwindcss";

@tailwind utilities;
@layer base {
  html,
  body {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    @apply bg-stone-100
     text-stone-950 dark:bg-gray-900 dark:text-white;
  }
}

.borderBlack {
  @apply border border-black/10;
}

.cardPrimaryColor {
  @apply bg-slate-800;
}
